# Application settings
NODE_ENV=dev # App env (dev, prod)
PORT=3000

# Mongo DB Connection string
MONGODB_URI=

# JWT Config
JWT_SECRET=
JWT_EXPIRED_TIME=900 # 15 Minutes

# Security configs
PASSWORD_HASH_SALT=12
ALLOWED_DOMAIN=http://localhost:5173


# Minio (Object Storage for storing contents)
MINIO_HOST=127.0.0.1
MINIO_PORT=9000
MINIO_USERNAME=
MINIO_PASSWORD=
MINIO_BUCKET_NAME=
